<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

 <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/Style.css') }}">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>

	<title>Cav-lender</title>
</head>
<body>
	<div class="container-fluid">
			 <div class="jumbotron">
							<h1>WELCOME TO THE CAV-LENDER</h1>
			 </div>

			 <!--test another method for the header -->
			 <div class="col-md-12">
					<div class="col-md-2">
					</div>
			 		<div class="col-md-1">
			 			<p class = "Weekday">
				 		Monday
			 			</p>
			 		</div>
			 		<div class="col-md-1">
				 		<p class = "Weekday">
					 		Tuesday
				 		</p>
				 	</div>
			 		<div class="col-md-1">
				 		<p class = "Weekday">
					 		Wednesday
				 		</p>
				  </div>
			 	  <div class="col-md-1">
				 		<p class = "Weekday">
					 		Thursday
				  	</p>
				  </div>
			 		<div class="col-md-1">
				 		<p class = "Weekday">
					 		Friday
				 		</p>
				  </div>
			 		<div class="col-md-1">
				 		<p class = "Weekday">
					 		Saturday
				 		</p>
				 	</div>
			 		<div class="col-md-1">
				 		<p class = "Weekday">
					 		Sunday
				 		</p>
			 		</div>
			 		<div class="col-md-2">
			 		</div>
		   </div>

		 	 <!-- A whole lot of calender days YAY JK KILL ME -->
		  <div class="CalenderBody">
			 	<!-- Row 1 -->
					<div class="col-md-12">
							<div class="col-md-2">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-2">
							</div>
			 		</div>
	 		 	<!-- Row 2 -->
					<div class="col-md-12">
							<div class="col-md-2">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-2">
							</div>
						</div>
			 	<!-- Row 3 -->
					<div class="col-md-12">
							<div class="col-md-2">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-2">
							</div>
						</div>
			 	<!-- Row 4 -->
					<div class="col-md-12">
							<div class="col-md-2">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-2">
							</div>
						</div>
			 	<!-- Row 5 -->
					<div class="col-md-12">
							<div class="col-md-2">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-2">
							</div>
						</div>
			</div>	
	</div>

</body>
</html>
